$body: 6000px;
$header:  center -400px black;
$main:0%;
$img1: center 2002%;
$ww:block center -5%;
$section:20%;
$section2: 30px 15px 1px solid black;
$div:19%;
$divh1:center 200px black;
$hi:18% center;
$mls:5% 90% 10% ;
$simg:25% 2% left -10%;
$buy:solid black 5% 10px none;
$Buy:none;
$footer: white 40% center 50px none;
$footer1: right block 2% black;
$footer2: center block 2% 5px 45% black;